NEXT_PUBLIC_ORGANIZATION_ID="<your Turnkey organization ID>"
NEXT_PUBLIC_AUTH_PROXY_CONFIG_ID="<your Turnkey auth proxy configuration ID>"
NEXT_PUBLIC_API_BASE_URL="https://api.turnkey.com"
NEXT_PUBLIC_AUTH_PROXY_BASE_URL="https://authproxy.turnkey.com"
RELAY_API_KEY="<your Relay API key from https://dashboard.relay.link>"
